@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 0; }

.personal {
  background-color: #d0fdf4; }
  .personal h2 {
    color: #363636;
    background-color: #89f1db;
    margin-top: 0.5rem; }
  .personal p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: center;
    color: #363636; }

.trabajos {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background-color: #e1c3e7e5;
  padding: 1rem; }
  .trabajos h4 {
    color: #363636;
    background-color: #89f1db;
    margin-top: 1rem;
    text-align: center; }
  .trabajos p {
    align-items: center; }
  .trabajos .btn {
    background-color: #fbe8ffe5;
    color: #de95ebe5; }

/* imagenes */
.fotoMar, .fotoSol, .fotoTierra {
  max-width: 100%;
  max-height: 100%;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.247); }

/* --------------------- header style ------------------ */
.nav {
  grid-area: nav;
  background-color: #13f1c1;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  transition: color; }

header img {
  position: static;
  padding: 0.5rem; }
  header img:hover {
    transform: translate(1rem);
    transition: 1s all ease; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.315); }

.carousel-item {
  padding: 0%; }
  .carousel-item h5 {
    color: #5dfcb9; }
  .carousel-item p {
    color: #b5ffe3; }

/* ----- main style ---------------------*/
.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav nav nav" "section1 section2 section3" "section1 section2 section3" "section1 section2 section3" "footer footer footer";
  background-color: #f5c8fde5;
  color: #1a1a1a;
  justify-content: end;
  align-content: stretch; }

/* sections */
.grilla {
  max-width: 100%; }

.section1 {
  grid-area: section1;
  padding: 2rem; }
  .section1 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold; }
  .section1 img {
    max-width: 100%; }
  .section1 p {
    text-align: center;
    font-weight: lighter;
    color: #999191; }

.section2 {
  grid-area: section2;
  padding: 2rem; }
  .section2 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold; }
  .section2 p {
    text-align: center;
    font-weight: lighter;
    color: #999191; }

.section3 {
  grid-area: section3;
  padding: 2rem; }
  .section3 h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold; }
  .section3 p {
    text-align: center;
    font-weight: lighter;
    color: #999191; }

.imagenTics .av06, .av08, .av12 {
  max-width: 100%; }

.contacto {
  background-color: #d3a3dbe5;
  color: #1a1a1a;
  padding: 1rem; }
  .contacto form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;
    color: #999191; }
    .contacto form input, .contacto form textarea, .contacto form select {
      border-radius: 0.6rem;
      border-color: #d3a3dbe5;
      color: #999191;
      padding: 0.3rem; }

.iframe {
  padding: 1rem;
  background-color: #f5c8fde5;
  width: 100vw;
  height: 100vh; }

.grilla {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "nav nav nav" "section1 section2 section3" "section1 section2 section3" "section1 section2 section3" "footer footer footer";
  background-color: #f5c8fde5;
  color: #1a1a1a;
  justify-content: end;
  align-content: stretch;
  height: 100%;
  width: 100%; }

/*------------------ footer style ----------------------*/
.footer {
  grid-area: footer;
  background: linear-gradient(63deg, rgba(185, 78, 223, 0.426191) 0%, rgba(74, 219, 149, 0.546639) 41%, rgba(0, 212, 255, 0.513025) 100%);
  justify-content: center; }
  .footer ul {
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    padding-left: 0;
    margin-bottom: 0; }
  .footer li {
    margin: 25px;
    align-items: center; }
  .footer a {
    text-decoration: none;
    color: #808080;
    list-style: none;
    align-items: center; }

/* RESPINSIVE DESIGN MEDIA QUERY / MOBILE LAST */
/* Mobile last = Max-width */
@media (max-device-width: 768px) {
  .grilla {
    grid-template-areas: "nav nav nav" "section1 section1 section1" "section2 section2 section2" "section3 section3 section3" "footer footer footer"; }
  /* HEADER */
  .nav {
    max-width: 100%; }
  /* SECTIONS */
  .section1 {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%; }
    .section1 img {
      width: 100%; }
  .section2 {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%; }
    .section2 img {
      width: 100%; }
  .section3 {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%; }
    .section3 img {
      width: 100%; }
  /* forms */
  .contacto {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    align-items: center; }
  .footer ul {
    list-style: none;
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    align-items: center; }
    .footer ul li {
      margin: 1px;
      align-items: center; }
  .contacto {
    align-items: stretch;
    flex-direction: column; } }
