* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@import './secciones/personal';
@import './secciones/trabajos';
@import "./secciones/header";
@import "./secciones/index";
@import './secciones/mainSections';


.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "section1 section2 section3"
    "section1 section2 section3"
    "section1 section2 section3"
    "footer footer footer";
    background-color: #f5c8fde5;
    color: #1a1a1a;
    justify-content: end;
    align-content: stretch;
    height: 100%;
    width: 100%;
    
    }



/*------------------ footer style ----------------------*/

.footer {
    grid-area: footer;
    background: linear-gradient(63deg, rgba(185, 78, 223, 0.4261905446) 0%, rgba(74, 219, 149, 0.5466387238) 41%, rgba(0, 212, 255, 0.5130252785) 100%);
    justify-content: center;
    
    

    ul {
        list-style: none;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: stretch;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        margin: 25px;
        align-items: center;
    }

    a {
        text-decoration: none;
        color: #808080;
        list-style: none;
        align-items: center;
    }
}

/* RESPINSIVE DESIGN MEDIA QUERY / MOBILE LAST */
/* Mobile last = Max-width */
@media (max-device-width: 768px) {

    .grilla {
    grid-template-areas: 
    "nav nav nav"
    "section1 section1 section1"
    "section2 section2 section2"
    "section3 section3 section3"
    "footer footer footer";
    }

/* HEADER */
    .nav {
    max-width: 100%;
    }

/* SECTIONS */

.section1 {
    grid-area: section1;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    img{
        width: 100%;
    }
    }

.section2 {
    grid-area: section2;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    img{
        width: 100%;
    }
    }

.section3 {
    grid-area: section3;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    img{
        width: 100%;
    }
    }


/* forms */
.contacto{
    grid-area: section2;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
    align-items: center;
}

.footer{
ul {
    list-style: none;
    display: flex;
    max-height: fit-content;
    flex-direction: column;
    align-items: center;
        li {
            margin: 1px;
            align-items: center;
        }
}
}

.contacto{
    align-items: stretch;
    flex-direction: column;
}
}
