.carousel-caption {
    background-color: rgba(0, 0, 0, 0.315);
}


.carousel-item {
    padding: 0%;
    h5 {
        color: #5dfcb9;
    }
    p{
        color: rgb(181, 255, 227);
    }

}
