/* ----- main style ---------------------*/
.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: 
    "nav nav nav"
    "section1 section2 section3"
    "section1 section2 section3"
    "section1 section2 section3"
    "footer footer footer";
    background-color: #f5c8fde5;
    color: #1a1a1a;
    justify-content: end;
    align-content: stretch;
    }

/* sections */

.grilla {
    max-width: 100%;
}

.section1 {
    grid-area: section1;
    padding: 2rem;

    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }
    img{
        max-width: 100%;
    }
    p {
        text-align: center;
        font-weight: lighter;
        color: #999191;
    }
}

.section2{
    grid-area: section2;
    padding: 2rem;

    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-weight: lighter;
        color: #999191;
    }
}

.section3 {
    grid-area: section3;
    padding: 2rem;

    h2 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-weight: lighter;
        color: #999191;
    }
}

.imagenTics .av06, .av08,.av12 {
    max-width: 100%;
}

.contacto{
    
    background-color: #d3a3dbe5;
    color: #1a1a1a;
    padding: 1rem;
    form{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: stretch;
        color: #999191;
        input, textarea, select{
            border-radius: 0.6rem;
            border-color: #d3a3dbe5;
            color: #999191;
            padding: 0.3rem;                
            }
            }
        }
.iframe {
    padding: 1rem;
    background-color: #f5c8fde5;
    width: 100vw;
    height: 100vh;
}
