.personal{
    background-color: #d0fdf4;
    h2{
    color: rgb(54, 54, 54);
    background-color: #89f1db;
    margin-top: 0.5rem;
    }
    p{
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        align-items: center;
        color: rgb(54, 54, 54) ;
    }
}