// section style
.trabajos{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: #e1c3e7e5;
    padding: 1rem;
    h4{
        color: rgb(54, 54, 54);
        background-color: #89f1db;
        margin-top: 1rem;
        text-align: center;
    }
    p{
        align-items: center;
    }
    .btn{
        background-color: #fbe8ffe5;
        color: #de95ebe5;

    }
}




/* imagenes */

.fotoMar,.fotoSol,.fotoTierra {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.247);
    }